<div class="container" id="education">
	<div class="row">
		<div class="col-xs-12">
			<h3>Colleges I've studied</h3>
			<h6>Learning is Important</h6>
		</div>
	</div>
	
	<div class="row">
		<div class="col-xs-12 col-sm-8 col-md-9">
			<h4><a href="https://www5.ifpi.edu.br" target="_blank">IFPI</a> - Instituto Federal de Tecnologia do Piauí <small>Teresina - Piauí, Brazil</small></h4>
			<ul>
				<li>Technologist in Systems Development and Analysis;</li>
				<li>Finished in 2017;</li>
				<li>Currently Graded 5/5 by the Ministry of Education (ENADE 2014);</li>
			</ul>
		</div>
		
		<div class="col-xs-12 col-sm-4 col-md-3">
			<img src="/img/ifpi-logo.jpg" class="img-responsive" alt="IFPI's Logo">
			
			<div class="google-maps">
				<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3974.090299863708!2d-42.813239884654074!3d-5.089098696306443!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x78e376206073b17%3A0xaee1dae6e5e24e52!2sIFPI+Teresina+Central+Campus!5e0!3m2!1sen!2sbr!4v1502715410972" width="300" height="300" frameborder="0" style="border:0" allowfullscreen></iframe>
			</div>
		</div>
	</div>
	
	<hr>
	
	<div class="row">
		<div class="col-xs-12 col-sm-8 col-md-9">
			<h4><a href="https://www.dkit.ie" target="_blank">DkIT</a> - Dundalk Institute of Technology <small>Dundalk - Co. Louth, Ireland</small></h4>
			<ul>
				<li>“Sandwich” Graduation through the <a href="http://www.cienciasemfronteiras.gov.br/" target="_blank" title="Website of the Programme">Science Without Borders</a> programme</li>
				<li>From Sep. 2013 to Jun. 2014;</li>
				<li>Interacted with the ERASMUS Students;</li>
			</ul>
		</div>
		
		<div class="col-xs-12 col-sm-4 col-md-3">
			<img src="/img/dkit-logo.png" class="img-responsive" alt="DkIT's Logo">
			
			<div class="google-maps">
				<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2346.0080919628945!2d-6.396183683793813!3d53.984879980117846!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4860cc1416459c83%3A0x6cc743bdadf216c2!2sDundalk+Institute+of+Technology!5e0!3m2!1sen!2sbr!4v1502715443225" width="300" height="300" frameborder="0" style="border:0" allowfullscreen></iframe>
			</div>
		</div>
	</div>
</div>