<div class="container" id="bio">
	<div class="row">
		<div class="col-xs-12">
			<h3>Hey vsauce! Actually... Not Michael here!</h3>
			<h6><em>No really, who are you?</em></h6>
			
			<img src="/img/rafael-portrait.jpg" width="200" height="200" alt="Picture of Rafael" align="right">
			
			<p>Rafael Lins is an experienced Java developer and advisor. His biggest passion about his work is actually putting stuff out there, in
			production, and knowing that people are using those systems and getting value from them and most importantly: making sure the
			end-user have a “it feels good to use this” feeling towards the products he helps to build.</p>
			
			<p>One achievement he’s particularly proud of was getting rid of very long waiting lines in a state-run health care plan/company by
			automating the much of the old, manual process of going there to get authorisations for exams and such, all of that can now be done
			online!</p>
			
			<p>During recent years, Rafael has focused in broadening his fields of technical knowledge and mentoring, transferring research results
			and years of experience with Software Development to the industry and newcomers in order to foment a better, more competitive
			environment. To this end, he have been networking quite a bit! From Europe to São Paulo, he’s making connections all over. And
			taking Machine Learning classes.</p>
			
			<p>Currently he’s trying to get a better grasp of Machine Learning in order to develop something useful (or evil? muahaha - like an
			<a href="http://deusex.wikia.com/wiki/Eliza_Cassan" target="_blank">Eliza Cassan</a> prototype!) and getting to know and experiment with
			many kinda-new but mature techs such as <a href="https://kotlinlang.org" target="_blank">Kotlin</a> and
			<a href="http://wildfly-swarm.io" target="_blank">JBoss Wildfly Swarm</a>.</p>
			
			<p>Out of his work life, he’s an Affliction Warlock in World of Warcraft (<a href="https://worldofwarcraft.com/en-us/character/goldrinn/nihillus"
			target="_blank">Nihillus @ Goldrinn-US</a>) and for years hes been protecting Azeroth (we finished the Warlords of Draenor expansion as <a
			href="https://www.wowprogress.com/pve/us/goldrinn/rating.tier18" target="_blank">#3 on our server</a>!) Now and again he is a Raid Leader
			at the &lt;Endlings&gt; guild putting the new people in check, teaching them the mechanics and distribute the sweet, sweet loot!</p>
			
			<p>Rafael is looking to move out of Brazil, for the immense life and learning experience, or at least move to Brazil’s South or Southeast
			regions (hey, Brazil is so big that that feels like moving countries!). Although welcome, he doesn’t need help with the moving costs :)</p>
		</div>
	</div>
</div>