<div class="container" id="education">
	<div class="row">
		<div class="col-xs-12">
			<h3>Colleges I've studied</h3>
			<h6>Learning is Important</h6>
			
			<h4><a href="https://www5.ifpi.edu.br" target="_blank">IFPI</a> - Instituto Federal de Tecnologia do Piauí <small>Teresina - Piauí, Brazil</small></h4>
			<p>Technologist in Systems Development and Analysis</p>
			
			<hr>
			
			<h4><a href="https://www.dkit.ie" target="_blank">DkIT</a> - Dundalk Institute of Technology <small>Dundalk - Co. Louth, Ireland</small></h4>
			<p>Hadouken.</p>
		</div>
	</div>
</div>