<div class="container">
	<div class="row">
		<div class="col-xs-12">
			<h1>I'm Rafael M. Lins <a href="/Rafael_M_Lins_-_Resume.pdf" class="btn btn-xs btn-primary float-right">PDF Resumé available here!</a></h1>
			<h4>And I'm a Software Engineer totally focused on Web applications and putting things online.</h4>
			<ul class="nav nav-pills">
				<li role="presentation" ui-sref-active="active"><a ui-sref="main.bio" title="Who is this dude?!">Start</a></li>
				<li role="presentation" ui-sref-active="active"><a ui-sref="main.education" title="Which Colleges this guy attended?">Education</a></li>
				<li role="presentation" ui-sref-active="active"><a ui-sref="main.experience" title="The good stuff">Work Experience</a></li>
				<li role="presentation" ui-sref-active="active"><a ui-sref="main.extra" title="Everything else!">Extra</a></li>
				<li role="presentation" ui-sref-active="active"><a ui-sref="main.openSource" title="Take a look at stuff I've released">Open Source</a></li>
			</ul>
		</div>
	</div>
</div>

<div ui-view></div>