@charset "UTF-8";

body {
	padding-bottom: 3em;
}

.nav {
	margin: 2em 0 0.5em 0;
	font-size: .8em;
}

#bio p {
	text-align: justify;
	margin-bottom: 2em;
}

#bio img {
	margin: 0 0 1em 1em;
}

#loading {
	top: 50%;
	left: 50%;
	width: 300px;
	height: 2em;
	position: absolute;
	text-align: center;
	margin: -1em auto 0 -150px;
	font-size: 4em;
}

.google-maps {
	position: relative;
	padding-bottom: 175%;
	height: 0;
	overflow: hidden;
}
.google-maps iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100% !important;
	height: 100% !important;
}